<%- include('../partials/header') %>

<form action="/resorts-and-conditions" method="GET" class="resort-input-form">
    <div class="mb-3">
        <label class="form-label">Search a Resort Below:</label>
        <input type="text" name="searchedResort" class="form-control" autocomplete="off" value="<%= locals.resort ? locals.resort : null %>" placeholder="<%= !locals.skill ? "Ex. Lake Louise" : null %>">
    </div>      

    <button type="submit" class="btn btn-success btn-lg">
        <span>SEARCH RESORT</span>
    </button>
</form>


<% if (locals.resortTitle) { %>
    
<div class="resort-info">

    <h1><%= resortTitle %></h1>

    <div class="five-day-forecast">

        <h2>Five Day Forecast Summary:</h2>
        <p><%= fiveDayForecast.summary3Day %></p>
        <p><%= fiveDayForecast.summaryDays4To6 %></p>

    </div>

</div>

<% } %>


<%- include('../partials/footer') %>