<%- include('../partials/header') %>

<form action="/resorts-and-conditions" method="GET" class="resort-input-form">
    <div class="mb-3">
        <label class="form-label">Search a Resort Below:</label>
        <input type="text" name="searchedResort" class="form-control" autocomplete="off" value="<%= locals.resort ? locals.resort : null %>" placeholder="<%= !locals.resort ? "Ex. Lake Louise" : null %>">
    </div>      

    <button type="submit" class="btn btn-success btn-lg">
        <span>SEARCH RESORT</span>
    </button>
</form>


<% if (locals.resortTitle) { %>

<% const weekday =  ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]%> 
<% const date = new Date() %>
<% let day0 = weekday[date.getDay()] %>
<% let day2 = weekday[date.getDay()+2] %>
<% let day3 = weekday[date.getDay()+3] %>
<% let day5 = weekday[date.getDay()+5] %>

    
<div class="resort-info">

    <h1><%= resortTitle %></h1>

    <div class="five-day-forecast">

        <h2>Five Day Forecast Summary:</h2>
        
        <h3><%= day0 %> to <%= day2 %></h3>
        <p><%= fiveDayForecast.summary3Day %></p>

        <h3><%= day3 %> to <%= day5 %></h3>
        <p><%= fiveDayForecast.summaryDays4To6 %></p>

    </div>

</div>

<% } %>


<%- include('../partials/footer') %>