<%- include('../partials/header') %>

<form action="/snowboarding-skills/<%= snowboardingSkill._id %>?_method=PUT&source=<%= source %>" method="POST" class="edit-skill-form">
    <div class="mb-3">
        <label class="form-label">Skill:</label>
        <input type="text" name="skill" class="form-control" autocomplete="off" value="<%= snowboardingSkill.skill %>">
    </div>      

    <div class="mb-3">
    <label class="form-label">Difficulty Level:</label>
        <select name="difficultyLevel" class="form-select" aria-label="Default select example">
            <option value="Beginner" <%= snowboardingSkill.difficultyLevel === 'Beginner' ? 'selected' : null %>>Beginner</option>
            <option value="Intermediate" <%= snowboardingSkill.difficultyLevel === 'Intermediate' ? 'selected' : null %>>Intermediate</option>
            <option value="Advanced" <%= snowboardingSkill.difficultyLevel === 'Advanced' ? 'selected' : null %>>Advanced</option>
            <option value="Expert" <%= snowboardingSkill.difficultyLevel === 'Expert' ? 'selected' : null %>>Expert</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">My Proficiency Level:</label>
            <select name="myProficiency" class="form-select" aria-label="Default select example">
                <option value="0" <%= snowboardingSkill.myProficiency === 0 ? 'selected' : null %>>0</option>
                <option value="1" <%= snowboardingSkill.myProficiency === 1 ? 'selected' : null %>>1</option>
                <option value="2" <%= snowboardingSkill.myProficiency === 2 ? 'selected' : null %>>2</option>
                <option value="3" <%= snowboardingSkill.myProficiency === 3 ? 'selected' : null %>>3</option>
                <option value="4" <%= snowboardingSkill.myProficiency === 4 ? 'selected' : null %>>4</option>
                <option value="5" <%= snowboardingSkill.myProficiency === 5 ? 'selected' : null %>>5</option>
                <option value="6" <%= snowboardingSkill.myProficiency === 6 ? 'selected' : null %>>6</option>
                <option value="7" <%= snowboardingSkill.myProficiency === 7 ? 'selected' : null %>>7</option>
                <option value="8" <%= snowboardingSkill.myProficiency === 8 ? 'selected' : null %>>8</option>
                <option value="9" <%= snowboardingSkill.myProficiency === 9 ? 'selected' : null %>>9</option>
                <option value="10" <%= snowboardingSkill.myProficiency === 10 ? 'selected' : null %>>10</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary btn-lg">
            <span>CONFIRM EDIT</span>
        </button>
</form>

    <!-- Error Messages for missing inputs: -->
    <% if (errorMsg.length > 0) { %>
        <div class="error-messages">
            <% errorMsg.forEach(function(error) { %>
                <p class="error-message"><%= error %></p>
            <% }); %>
            </div>
        <% } %>

<%- include('../partials/footer') %>