<%- include('../partials/header') %>

<form action="/snowboarding-skills/<%= snowboardingSkill._id %>?_method=PUT" method="POST" class="edit-skill-form">
    <div class="mb-3">
        <label class="form-label">Skill:</label>
        <input type="text" name="skill" class="form-control" autocomplete="off" value="<%= snowboardingSkill.skill %>">
    </div>      

    <div class="mb-3">
    <label class="form-label">Difficulty Level:</label>
        <select name="difficultyLevel" class="form-select" aria-label="Default select example">
            <option value="Beginner" <%= snowboardingSkill.difficultyLevel === 'Beginner' ? 'selected' : null %>>Beginner</option>
            <option value="Intermediate" <%= snowboardingSkill.difficultyLevel === 'Intermediate' ? 'selected' : null %>>Intermediate</option>
            <option value="Advanced" <%= snowboardingSkill.difficultyLevel === 'Advanced' ? 'selected' : null %>>Advanced</option>
            <option value="Expert" <%= snowboardingSkill.difficultyLevel === 'Expert' ? 'selected' : null %>>Expert</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">My Proficiency Level:</label>
            <select name="myProficiency" class="form-select" aria-label="Default select example">
                <option value="" disabled <%= !locals.myProficiency ? 'selected' : null %>>Select My Proficiency Level</option>
                <option value="0" <%= locals.myProficiency === '0' ? 'selected' : null %>>0</option>
                <option value="1" <%= locals.myProficiency === '1' ? 'selected' : null %>>1</option>
                <option value="2" <%= locals.myProficiency === '2' ? 'selected' : null %>>2</option>
                <option value="3" <%= locals.myProficiency === '3' ? 'selected' : null %>>3</option>
                <option value="4" <%= locals.myProficiency === '4' ? 'selected' : null %>>4</option>
                <option value="5" <%= locals.myProficiency === '5' ? 'selected' : null %>>5</option>
                <option value="6" <%= locals.myProficiency === '6' ? 'selected' : null %>>6</option>
                <option value="7" <%= locals.myProficiency === '7' ? 'selected' : null %>>7</option>
                <option value="8" <%= locals.myProficiency === '8' ? 'selected' : null %>>8</option>
                <option value="9" <%= locals.myProficiency === '9' ? 'selected' : null %>>9</option>
                <option value="10" <%= locals.myProficiency === '10' ? 'selected' : null %>>10</option>
            </select>
        </div>

        <br><br>

        <button type="submit" class="btn btn-primary btn-lg">
            <span>CONFIRM EDIT</span>
        </button>
</form>
<p><%= errorMsg %></p>

<%- include('../partials/footer') %>

<!-- checked=`${snowboardingSkill.myProficiency === value ? "checked" : ""}` -->