<%- include('../partials/header') %>

<form action="/snowboarding-skills/new" method="GET" class="user-home-btn">
  <button type="submit" class="btn btn-success btn-lg home-new-skill-btn">
    <i class="fa-solid fa-plus"></i>
    <span>ADD SKILL</span>
  </button>
</form>

<table id="list" class="table skills-table">
  <thead>
    <tr>
      <th id="skill-column">Skill</th>
      <th id="difficulty-column">Difficulty Level</th>
      <th id="proficiency-column">My<br />Proficiency Level<br />(/10)</th>
      <th id="interaction-column"></th>
    </tr>
  </thead>
  <tbody>
    <% snowboardingSkills.forEach(function(s) { %>
    <tr>
      <td><%= s.skill %></td>
      <td><%= s.difficultyLevel %></td>
      <td><%= s.myProficiency %></td>
      <td>
        <!-- toggle skill interaction button for mobile: -->
        <button
          type="button"
          class="btn btn-secondary toggle-btn"
          data-skill-id="<%= s._id %>"
        >
          <i class="fa-solid fa-ellipsis-vertical"></i>
        </button>

        <div class="skill-interaction hidden" data-skill-id="<%= s._id %>">
          <form action="/snowboarding-skills/<%= s._id %>" method="GET">
            <button type="submit" class="btn btn-warning view-notes-btn btn-sm">
              <i class="fa-solid fa-book"></i>
              <span class="my-skills-btn-span"
                >View My Notes/<br />Comments Log</span
              >
            </button>
          </form>
          <form action="/snowboarding-skills/<%= s._id %>/edit" method="GET">
            <button type="submit" class="btn btn-primary btn-sm">
              <i class="fa-solid fa-pencil"></i>
              <span class="my-skills-btn-span">Edit Skill</span>
            </button>
          </form>
          <form
            action="/snowboarding-skills/<%= s._id %>?_method=DELETE"
            method="POST"
          >
            <button type="submit" class="btn btn-danger btn-sm">
              <i class="fa-solid fa-x"></i>
              <span class="my-skills-btn-span">Delete Skill</span>
            </button>
          </form>
        </div>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>

<script>
  // Add event listener to toggle buttons once DOM is loaded and parsed
  document.addEventListener("DOMContentLoaded", function () {
    // Only have the toggle button behavior when window is less than 991px
    if (window.matchMedia("(max-width: 991px)").matches) {
      // Select all the toggle buttons and all sets of skill interaction buttons
      var toggleButtons = document.querySelectorAll(".toggle-btn");
      var skillInteractionDivs =
        document.querySelectorAll(".skill-interaction");

      // add 'click' event listeners to each toggle button
      toggleButtons.forEach(function (button) {
        button.addEventListener("click", function () {
          // Prevents Click event from propogating outside
          event.stopPropagation();

          // get the 'data-skill-id' attribute of the clicked toggle button
          var skillId = this.getAttribute("data-skill-id");

          // Hide all skillInteractionDivs except the one for the toggle clicked
          skillInteractionDivs.forEach(function (div) {
            // Note: in the left side of the condition statement, to access the custom data attribute (data-*) of the div (data-skill-id) through the 'dataset' property, we need to remove the 'data-' and convert to camelCase:
            // 'data-skill-id' ==> 'skillId'
            // The right side of the condition statement is the specific skillId of the clicked toggle
            if (div.dataset.skillId !== skillId) {
              div.classList.add("hidden");
            }
          });

          // Toggle the visibility of the skillInteractionDiv corresponding to the clicked button
          var skillInteractionDiv = document.querySelector(
            `.skill-interaction[data-skill-id="${skillId}"]`
          );
          if (skillInteractionDiv) {
            skillInteractionDiv.classList.toggle("hidden");
          }
        });
      });

      // Add click event listener to whole page to hide all skillInteractionDivs when anything else but the toggles are clicked
      document.addEventListener("click", function () {
        skillInteractionDivs.forEach(function (div) {
          div.classList.add("hidden");
        });
      });
    }
  });
</script>

<%- include('../partials/footer') %>
