<%- include('../partials/header') %>

<table id="list" class="table skills-table">
    <thead>
      <tr>
        <th>Skill</th>
        <th>Difficulty Level</th>
        <th>My<br>Proficiency Level</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% snowboardingSkills.forEach(function(s) { %>
        <tr>
          <td><%= s.skill %></td>
          <td><%= s.difficultyLevel %></td>
          <td><%= s.myProficiency %></td>
          <td><a href="/snowboarding-skills/<%= s._id %>">View More Details/<br>Edit Skill</a></td>
          <td>
            <% if (user?._id.equals(s.user)) { %>
            <form action="/snowboarding-skills/<%= s._id %>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger">Delete Skill</button>
            </form>
            <% } %>
        </td>
        </tr>
        <% }); %>
      </tbody>
    </table>

<%- include('../partials/footer') %>