<%- include('../partials/header') %>

<form action="/snowboarding-skills/new" method="GET" class="user-home-btn">
  <button type="submit" class="btn btn-success btn-lg home-new-skill-btn">
    <i class="fa-solid fa-plus"></i>
    <span>ADD SKILL</span>
  </button>
</form>

<table id="list" class="table skills-table">
  <thead>
    <tr>
      <th id="skill-column">Skill</th>
      <th id="difficulty-column">Difficulty Level</th>
      <th id="proficiency-column">My<br />Proficiency Level<br />(/10)</th>
      <th id="interaction-column"></th>
    </tr>
  </thead>
  <tbody>
    <% snowboardingSkills.forEach(function(s) { %>
    <tr>
      <td><%= s.skill %></td>
      <td><%= s.difficultyLevel %></td>
      <td><%= s.myProficiency %></td>
      <td>


        <div class="skill-interaction hidden" data-skill-id="<%= s._id %>">
          <form action="/snowboarding-skills/<%= s._id %>" method="GET">
            <button type="submit" class="btn btn-warning view-notes-btn btn-sm">
              <i class="fa-solid fa-book"></i>
              <span class="my-skills-btn-span">View My Notes/<br />Comments Log</span>
            </button>
          </form>
          <form action="/snowboarding-skills/<%= s._id %>/edit" method="GET">
            <button type="submit" class="btn btn-primary btn-sm">
              <i class="fa-solid fa-pencil"></i>
              <span class="my-skills-btn-span">Edit Skill</span>
            </button>
          </form>
          <form
            action="/snowboarding-skills/<%= s._id %>?_method=DELETE"
            method="POST"
          >
            <button type="submit" class="btn btn-danger btn-sm">
              <i class="fa-solid fa-x"></i>
              <span class="my-skills-btn-span">Delete Skill</span>
            </button>
          </form>
        </div>
        <!-- toggle skill interaction button for mobile: -->
        <button type="button" class="btn btn-secondary toggle-btn" data-skill-id="<%= s._id %>">
          <i class="fa-solid fa-ellipsis-vertical"></i>
        </button>
      </td>


    </tr>
    <% }); %>
  </tbody>
</table>

<script>
// Add event listener to toggle buttons once DOM is loaded and parsed
document.addEventListener('DOMContentLoaded', function() {

  // Only have the toggle button behavior when window is less than 991px
  if (window.matchMedia('(max-width: 991px)').matches) {

    // Select all the toggle buttons and add 'click' listeners on them
    var toggleButtons = document.querySelectorAll('.toggle-btn');
    toggleButtons.forEach(function(button) {
      button.addEventListener('click', function() {

        //get the data-skill-id attribute of a clicked toggle button and select the skill's respective skill interaction buttons
        var skillId = this.getAttribute('data-skill-id');
        var skillInteractionDiv = document.querySelector(`.skill-interaction[data-skill-id="${skillId}"]`);
        
        //toggle the 'hidden' class on the interaction buttons
        if (skillInteractionDiv) {
          skillInteractionDiv.classList.toggle('hidden');
        }
      });
    });
  }
});

</script>

<%- include('../partials/footer') %>
