<%- include('../partials/header') %>

    <form action="/snowboarding-skills" method="POST" class="add-skill-form">
        <div class="mb-3">
            <label class="form-label">Skill:</label>
            <input type="text" name="skill" class="form-control" autocomplete="off" value="<%= locals.skill ? locals.skill : null %>" placeholder="<%= !locals.skill ? "Enter Skill (Ex. Ollie, Boardslide, etc.)" : null %>">
        </div>      

        <div class="mb-3">
        <label class="form-label">Difficulty Level:</label>
            <select name="difficultyLevel" class="form-select" aria-label="Default select example">
                <option value="" disabled <%= !locals.difficultyLevel ? 'selected' : null %>>Select Difficulty Level</option>
                <option value="Beginner" <%= locals.difficultyLevel === 'Beginner' ? 'selected' : null %>>Beginner</option>
                <option value="Intermediate" <%= locals.difficultyLevel === 'Intermediate' ? 'selected' : null %>>Intermediate</option>
                <option value="Advanced" <%= locals.difficultyLevel === 'Advanced' ? 'selected' : null %>>Advanced</option>
                <option value="Expert" <%= locals.difficultyLevel === 'Expert' ? 'selected' : null %>>Expert</option>
            </select>
        </div>
        
        <div class="mb-3">
        <label class="form-label">My Proficiency Level:</label>
            <select name="myProficiency" class="form-select" aria-label="Default select example">
                <option value="" disabled <%= !locals.myProficiency ? 'selected' : null %>>Select My Proficiency Level</option>
                <option value="0" <%= locals.myProficiency === '0' ? 'selected' : null %>>0</option>
                <option value="1" <%= locals.myProficiency === '1' ? 'selected' : null %>>1</option>
                <option value="2" <%= locals.myProficiency === '2' ? 'selected' : null %>>2</option>
                <option value="3" <%= locals.myProficiency === '3' ? 'selected' : null %>>3</option>
                <option value="4" <%= locals.myProficiency === '4' ? 'selected' : null %>>4</option>
                <option value="5" <%= locals.myProficiency === '5' ? 'selected' : null %>>5</option>
                <option value="6" <%= locals.myProficiency === '6' ? 'selected' : null %>>6</option>
                <option value="7" <%= locals.myProficiency === '7' ? 'selected' : null %>>7</option>
                <option value="8" <%= locals.myProficiency === '8' ? 'selected' : null %>>8</option>
                <option value="9" <%= locals.myProficiency === '9' ? 'selected' : null %>>9</option>
                <option value="10" <%= locals.myProficiency === '10' ? 'selected' : null %>>10</option>
            </select>
        </div>

        <input type="submit" value="Add Skill" class="btn btn-primary">
    </form>

    <!-- Error Messages for missing inputs: -->
    <% if (errorMsg.length > 0) { %>
    <div class="error-messages">
        <% errorMsg.forEach(function(error) { %>
            <p class="error-message"><%= error %></p>
        <% }); %>
        </div>
    <% } %>


    <%- include('../partials/footer') %>