<%- include('../partials/header') %>

<section id="show-page">
  <table class="table" id="current-stats-table">
    <tbody>
      <tr>
        <td>Difficulty Level:</td>
        <td><%= snowboardingSkill.difficultyLevel %></td>
      </tr>
      <tr>
        <td>My Proficiency Level (/10):</td>
        <td><%= snowboardingSkill.myProficiency %></td>
      </tr>
    </tbody>
  </table>

  <div class="skill-interaction">
    <form
      action="/snowboarding-skills/<%= snowboardingSkill._id %>/edit?source=show"
      method="GET"
    >
      <button type="submit" class="btn btn-primary edit-btn">
        <i class="fa-solid fa-pencil"></i>
        Edit Skill
      </button>
    </form>
    <form
      action="/snowboarding-skills/<%= snowboardingSkill._id %>?_method=DELETE"
      method="POST"
    >
      <button type="submit" class="btn btn-danger">
        <i class="fa-solid fa-trash"></i>
        Delete Skill
      </button>
    </form>
  </div>

  <h2>Notes/Comments:</h2>
  <form
    id="add-note-form"
    method="POST"
    action="/snowboarding-skills/<%= snowboardingSkill._id %>/notes-comments"
  >
    <div>
      <textarea
        name="content"
        id="note-content"
        placeholder="Add a note/comment..."
      ></textarea>
    </div>

    <div class="add-comment-btn">
      <input type="submit" id="submit-btn" value="Add Note/Comment" disabled />
    </div>
  </form>

  <!-- disable submit button if note/comment is blank -->
  <script>
    const textarea = document.getElementById("note-content");
    const submitBtn = document.getElementById("submit-btn");

    textarea.addEventListener("input", function () {
      if (textarea.value.trim() === "") {
        submitBtn.disabled = true;
      } else {
        submitBtn.disabled = false;
      }
    });
  </script>

  <% if (snowboardingSkill.notesComments.length) { %>
  <table id="comments-table" class="table">
    <thead>
      <tr>
        <th id="note-comment-date">Date</th>
        <th id="note-comment">Note/Comment</th>
        <th id="note-comment-interaction"></th>
      </tr>
    </thead>
    <tbody>
      <% snowboardingSkill.notesComments.reverse().forEach(function(n) { %>
      <tr>
        <td>
          <%= new Date(n.createdAt).toLocaleDateString('en-US', { month:
          'short', day: 'numeric', year: 'numeric' }) %>
        </td>
        <td class="note-comment-content"><%= n.content %></td>
        <td>
          <button
          type="button"
          class="btn btn-secondary toggle-btn"
          data-note-comment-id="<%= n._id %>"
        >
          <i class="fa-solid fa-ellipsis-vertical"></i>
        </button>
          <div class="comment-interaction" data-note-comment-id="<%= n._id %>">
            <form
              action="/snowboarding-skills/<%= snowboardingSkill._id %>/notes-comments/<%= n._id %>/edit"
              method="GET"
            >
              <button type="submit" class="btn btn-primary btn-sm">
                <i class="fa-solid fa-pencil"></i>
              </button>
            </form>

            <form
              action="/snowboarding-skills/<%= snowboardingSkill._id %>/notes-comments/<%= n._id %>?_method=DELETE"
              method="POST"
            >
              <button type="submit" class="btn btn-danger btn-sm">
                <i class="fa-solid fa-trash"></i>
              </button>
            </form>
          </div>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <% } else { %>
  <h5>No Notes or Comments Yet</h5>
  <% } %> <%- include('../partials/footer') %>
</section>
