<%- include('../partials/header') %>

    <section id="show-page">
        <table class="table">
        <tbody>
            <tr>
                <td>Difficulty Level: <%= snowboardingSkill.difficultyLevel %></td>
            </tr>
            <tr>
                <td>Proficiency Level: <%= snowboardingSkill.myProficiency %></td>
            </tr>
        </tbody>
    </table>
        
        
        <div>
            <form action="/snowboarding-skills/<%= snowboardingSkill._id %>/edit" method="GET">
                <button type="submit" class="btn btn-primary">Edit Skill</button>
            </form>
        </div>

        <br><br>
        <h2>Notes/Comments:</h2>
        <form id="add-note-form" method="POST" action="/snowboarding-skills/<%= snowboardingSkill._id %>/notes-comments">
            <textarea name="content"></textarea>
            <input type="submit" value="Add Note/Comment">
        </form>

        <% if (snowboardingSkill.notesComments.length) { %>
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Note/Comment</th>
                    </tr>
                </thead>
                <tbody>
                    <% snowboardingSkill.notesComments.forEach(function(n) { %>
                        <tr>
                            <td>
                                <%= n.createdAt.toLocaleDateString() %>
                            </td>
                            <td>
                                <%= n.content %>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
            <% } else { %>
                <h5>No Notes or Comments Yet</h5>
                <% } %>

                    <%- include('../partials/footer') %>