<%- include('../partials/header') %>

    <section id="show-page">
        <div>Skill: </div>
        <div>
            <%= snowboardingSkill.skill %>
        </div>
        <div>Difficulty Level: </div>
        <div>
            <%= snowboardingSkill.difficultyLevel %>
        </div>
        <div>Proficiency Level: </div>
        <div>
            <%= snowboardingSkill.myProficiency %>
        </div>

        <br><br>
        <h2>Notes/Comments:</h2>
        <form id="add-note-form" method="POST" action="/snowboarding-skills/<%= snowboardingSkill._id %>/notes-comments">
            <label>Note/Comment:</label>
            <textarea name="content"></textarea>
            <label>Rating:</label>
            <input type="submit" value="Add Note/Comment">
        </form>

        <% if (snowboardingSkill.notesComments.length) { %>
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Note/Comment</th>
                    </tr>
                </thead>
                <tbody>
                    <% snowboardingSkill.notesComments.forEach(function(n) { %>
                        <tr>
                            <td>
                                <%= n.createdAt.toLocaleDateString() %>
                            </td>
                            <td>
                                <%= n.content %>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
            <% } else { %>
                <h5>No Notes or Comments Yet</h5>
                <% } %>

                    <%- include('../partials/footer') %>