<%- include('../partials/header') %>

    <section id="show-page">
        <div>Skill: </div>
        <div>
            <%= snowboardingSkills.skill %>
        </div>
        <div>Difficulty Level: </div>
        <div>
            <%= snowboardingSkills.difficultyLevel %>
        </div>
        <div>Proficiency Level: </div>
        <div>
            <%= snowboardingSkills.myProficiency %>
        </div>

        <br><br>
        <h2>Notes/Comments:</h2>
        <form id="add-note-form" method="POST" action="/snowboarding-skills/<%= snowbardingSkill._id %>/notes-comments">
            <label>Note/Comment:</label>
            <textarea name="content"></textarea>
            <label>Rating:</label>
            <input type="submit" value="Add Note/Comment">
        </form>

        <% if (snowbardingSkill.notesComments.length) { %>
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Note/Comment</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% snowboardingSkill.notesComments.forEach(function(n) { %>
                        <tr>
                            <td>
                                <%= n.createdAt.toLocaleDateString() %>
                            </td>
                            <td>
                                <%= n.content %>
                            </td>
                            <td>
                                <form action="/snowboarding-skills/<%= n._id %>?_method=DELETE" method="POST">
                                    <button type="submit">X</button>
                                </form>
                            </td>
                        </tr>
                        });
                </tbody>
            </table>
            <% } else { %>
                <h5>No Note/Comments Yet</h5>
                <% } %>

                    <%- include('../partials/footer') %>